<div class="cmd cmd-widget widget-MFweather #history#" data-type="info" data-subtype="string" data-template="MFweather" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
  <link rel="stylesheet" type="text/css" href="plugins/meteofrance/desktop/weather-icons/css/weather-icons.min.css" />
  <div class="content" style="background:transparent">
    <div id="digital_container#id#">
      <div class="clock#id#" style="background:transparent">
        <div class="hours#id#">
          <div class="first">
            <div class="number">0</div>
          </div>
          <div class="second">
            <div class="number">0</div>
          </div>
        </div>
          <div class="tick#id#">:</div>
        <div class="minutes#id#">
          <div class="first">
            <div class="number">0</div>
          </div>
          <div class="second">
            <div class="number">0</div>
          </div>
        </div>
          <div class="seconds#id#">00</div>
      </div>
      <div id="weather#id#" class="wIcon">
        <div id="meteofranceTopLeft">
          <div class="widgetName#id#">#name#</div>
          <div style="font-size:14px;margin:0;padding:0" class="condition"></div>
          <div id="meteofranceLeft" class="meteofranceLeft#id#">
            <div class="wind"></div>
            <div>
              <span class="humidity"></span>&nbsp;
              <span class="clouds"></span>
            </div>
            <div>
              <span class="pressure"></span>&nbsp;
              <span class="rain"></span>
            </div>
          </div>
        </div>
        <div id="meteofranceRight">
          <div id="date" class="dateText#id#" style="font-size:18px;line-height:normal;padding:0"></div>
          <div class="sunRiseSet" style="line-height:normal;margin:0;padding:0"></div>
          <div class="Tvalue" style="margin-top:0px;font-size:40px;line-height:normal;padding:0;text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);"></div>
        </div>
      </div>
      <div id="collect#id#">
        <span class="collectDate"></span>
        <span class="errorMessage"></span>
      </div>
    </div>
  </div>
  <style>
    #digital_container#id# {
      width: 440px;
      z-index: 98;
      overflow: hidden;
      background-color: transparent;
    }
    .clock#id# {
      text-align: center;
      margin-top: -20px;
      height: 170px;
      font-size: 150px;
      font-weight: 400;
      font-family: sans-serif;
      line-height: normal;
      display: flex;
      position: relative;
      overflow: hidden;
      width: 96%;
    }
    .clock#id# > div {
      display: flex;
    }
    .number {
      margin-top: -20px;
    }

    .hours#id# {
      background: transparent;
      color: white;
      margin-top: 20px;
      margin-left: 10px;
      border-radius: 18px;
    }
    .minutes#id# {
      background: transparent;
      color: white;
      margin-top: 20px;
      border-radius: 18px;
    }

    .seconds#id# {
      background:transparent;
      color: white;
      margin-top: 32px;
      margin-left: 2px;
      height: 150px;
      max-width:18px;
      text-align: center;
      font-size: 50px;
      text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
    }
    .tick#id# {
      color: white;
      margin-top: 45px;
      font-size: 80px;
    }

    .animScrollV#id# {
      animation: animScrollV#id# linear 1s infinite;
      animation-timing-function: cubic-bezier(0.2, -2, 0.8, 2);
    }

    .animBlur#id# {
      animation: animBlur#id# linear 1s infinite;
    }

    @keyframes animScrollV#id# {
      from { transform: translateY(0vh); } to { transform: translateY(-140px); }
    }

    @keyframes animBlur#id# {
      0% { filter: blur( 0.0vmin) }
      100% { filter: blur( 2.5vmin) }
    }

    #weather#id# {
      height: 130px;
      color: #fff;
      width: 100%;
    }

    .wIcon {
      background-position: center -30px;
      background-size: 160px 160px;
      background-repeat: no-repeat;
      background-origin: border-box;
      overflow: visible!important;
    }

    #weather#id# #meteofranceTopLeft {
      float: left;
      text-align:left;
      min-width:100px;
      line-height:18px;
      margin: 0px 0 0 10px;
    }
    #weather#id# #meteofranceLeft {
      margin: 8px 0 0 4px;
      width: 200px;
      font-size: 12px;
      line-height: 14px;
    }

    .widgetName#id# {
      font-size: 18px;
      margin:0;
      padding:0;
      font-weight: bold;
      text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
    }

    #weather#id# #meteofranceRight {
      text-align:right;
      float: right;
      clear: none;
      margin: 0px 10px 0 0px;
    }

    #weather#id# #date,
    #weather#id# .condition,
    #weather#id# .sunRiseSet {
      font-size: 14px;
      padding-right: 2px;
      font-weight: bold;
      text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
    }
    #collect#id# {
      font-size: 8px;
      margin: -38px 0 0 10px;
      text-align: left;
    }
  </style>    
  <template>
    <div>displayWidgetName: {{Affichage du nom du widget.}} 0/1</div>
    <div>backgroundColor: {{Couleur de fond du widget}}</div>
    <div>clockFontColor: {{Couleur des textes Heures, minutes, secondes.}} white</div>
    <div>clockBackgroundColor: {{Couleur de fond des textes de l'heure.}} transparent</div>
    <div>clockBorder: {{Couleur des bordures autour de l'heure et des minutes.}} Ex: 8px ridge green</div>
    <div>clockMarginLeft: {{Marge gauche des textes de l'horloge.}} Défaut: 10px</div>
    <div>clockSecondsFontSize: {{Taille du texte des secondes sur l'horloge.}} Défaut: 50px</div>
    <div>clockSecondsMarginTop: {{Marge haute du texte des secondes sur l'horloge.}} Défaut: 32px</div>
    <div>clockAnimation: {{Animation: Blur, ScrollV, Random}} Défaut: Random</div>
    <div>clockTimezone: {{Fuseau horaire si pas de météo associée.}} Défaut: Europe/Paris</div>
    <div>weatherFontColor: {{Couleur des textes de la météo.}}</div>
    <div>displayBackgroundImage: {{Affichage de l'image de fond.}} 0/1</div>
    <div>displayWeather: {{Affichage de la météo.}} 0/1</div>
    <div>displayClouds: {{Affichage du pourcentage de nuages.}} 0/1</div>
    <div>displayWind: {{Affichage des vitesses et direction du vent.}} 0/1</div>
    <div>displayRain: {{Affichage de la quantité de pluie dans l'heure.}} 0/1</div>
    <div>displayHumidity: {{Affichage du pourcentage d'humidité.}} 0/1</div>
    <div>displayPressure: {{Affichage de la pression atmosphèrique.}} 0/1</div>
    <div>displaySeconds: {{Affichage des secondes sur l'horloge.}} 0/1</div>
    <div>displayCollectDate: {{Affichage de la date de collecte.}} 0/1</div>
    <div>displayError: {{Affichage des erreurs JS.}} 0/1</div>
  </template>
  <script type="text/javascript">
    var hoursContainer#id# = document.querySelector('.hours#id#')
    var minutesContainer#id# = document.querySelector('.minutes#id#')
    var secondsText#id# = document.querySelector('.seconds#id#')
    var dateText#id# = document.querySelector('.dateText#id#')
    var clockAnimation#id# = '';
    if ('#clockAnimation#' != '#clockAnimation'+'#')  clockAnimation#id# = '#clockAnimation#';
    else clockAnimation#id# = 'Random';
    var timezone#id# = '';
    if ('#clockTimezone#' != '#clockTimezone'+'#')  timezone#id# = '#clockTimezone#';
    else timezone#id# = 'Europe/Paris';

    var last#id# = '00:00';

    function updateTimeDate#id#() {
      let anim = 'animBlur#id#';
      if(clockAnimation#id#.toUpperCase() == 'RANDOM') {
        if(Math.random() > .5) anim = 'animScrollV#id#';
      }
      else if(clockAnimation#id#.toUpperCase() == 'SCROLLV') anim = 'animScrollV#id#';
      let lastHours = last#id#.substring(0,2);
      let lastMinutes = last#id#.substring(3,5);
      let now = new Date();
      let nowTime = now.toLocaleTimeString('fr-FR', {timeZone:timezone#id#});
      let nowHours = nowTime.substring(0,2);
      let nowMinutes = nowTime.substring(3,5);
      let nowSeconds = nowTime.substring(6,8);
// console.log("Timezone:" +timezone#id# +" " +nowTime);
// console.log("Timezone:" +timezone#id# +" " +nowHours +"/" +nowMinutes +"/" +nowSeconds);
      if (lastHours !== nowHours) {
          updateContainer#id#(hoursContainer#id#, nowHours, anim)
      }
      if(lastMinutes !== nowMinutes) {
        updateContainer#id#(minutesContainer#id#, nowMinutes, anim)
      }
// console.log("Timezone:" +timezone#id# +" " +lastHours +" " +nowHours +":" +nowMinutes);
      if(parseInt(nowMinutes) == 0 && parseInt(nowHours) == 0 && parseInt(nowSeconds) < 5) { // Update Date
        let dayTxt = now.toLocaleDateString([], {timeZone:timezone#id#,month:'long',day:'numeric',weekday:'long'});
        let dateText = dayTxt.charAt(0).toUpperCase() + dayTxt.slice(1) // ucfirst
        if(dateText != dateText#id#.innerText) {
          // console.log("Update Date Timezone: " +timezone#id# +" Date: " +dateText);
          dateText#id#.innerText = dateText;
        }
      }
      secondsText#id#.innerText = nowSeconds;    
      last#id# = nowTime;
    }

    function updateContainer#id#(container, newTime, anim) {
      let time = newTime.split('')
      if(time.length === 1) {
          time.unshift('0');
      }
      let first = container.firstElementChild
      if (first.lastElementChild.textContent !== time[0]) {
        updateNumber#id#(first, time[0], anim);
      }
      let last = container.lastElementChild
      if (last.lastElementChild.textContent !== time[1]) {
        updateNumber#id#(last, time[1], anim);
      }
    }

    function updateNumber#id#(element, value, anim) {
      let second = element.lastElementChild.cloneNode(true)
      second.textContent = value;
      element.appendChild(second);
      element.classList.add(anim);
      setTimeout(function () { element.firstElementChild.style.display = 'none'; }, 900)
      setTimeout(function () {
            element.classList.remove(anim);
            element.removeChild(element.firstElementChild);
          }, 1000)
    }

    setInterval(updateTimeDate#id#, 1000)
    /* JSON structure:
      { "dt":1685984400,
        "T":{"value":25.2,"windchill":24.1},
        "humidity":25,
        "sea_level":1015,
        "wind":{"speed":3,"gust":0,"direction":65,"icon":"ENE"},
        "rain":{"1h":0},
        "snow":{"1h":0},
        "iso0":2900,
        "rain snow limit":"Non pertinent",
        "clouds":10,
        "weather":{"icon":"p1j","desc":"Ensoleillé"},
        "sunrise": 1685984400,
        "sunset": 1685984400,
        "timezone":"Europe/Paris",
        "updated_on":1717915500
      }
   */
    jeedom.cmd.addUpdateFunction('#id#',function(_options) {
      if (is_object(cmd = document.querySelector('.cmd[data-cmd_uid="#uid#"]'))) {
        cmd.querySelector('.errorMessage').innerHTML = ''; // clean previous error
        let cd = new Date();
        let dayTxt = cd.toLocaleDateString([], { month: 'long', day: 'numeric',weekday: 'long'});
        try {
          if('#displayWeather#' != '0') {
            let json = _options.display_value.replaceAll('&quot;','"');
            let obj = JSON.parse(json);
            if(obj != null) {
              timezone#id# = obj.timezone;
              dayTxt = cd.toLocaleDateString([], {timeZone: timezone#id#, month: 'long', day: 'numeric',weekday: 'long'});
// console.log("Timezone: " +timezone#id# +" Date: " +dayTxt +" " +obj.dt);
              let icon = "url('plugins/meteofrance/data/icones/" +obj.weather.icon +".svg')"
              cmd.querySelector('.wIcon').style.setProperty('background-image', icon)
                  
              cmd.querySelector('.condition').innerHTML = obj.weather.desc;
                  
              let Tvalue = Math.round(obj.T.value*10) / 10 + '°C';
              cmd.querySelector('.Tvalue').innerHTML = Tvalue;
              cmd.querySelector('.Tvalue').setAttribute('title', 'Ressentie: '+obj.T.windchill);

              let sunrise = '--'; let sunset = '--';
              if(typeof obj.sunrise !== 'undefined') {
                if(obj.sunrise == true) sunrise = '<i class="wi wi-day-sunny"></i>';
                else if(obj.sunrise == false) sunrise = '<i class="wi wi-night-clear"></i>';
                else {
                  const cdrise = new Date(obj.sunrise*1000);
                  sunrise = cdrise.toLocaleTimeString([], { timeZone: timezone#id#, hour: "2-digit", minute: "2-digit", hour12: false });
                }
              }
              if(typeof obj.sunset !== 'undefined') {
                if(obj.sunset == true) sunset = '<i class="wi wi-day-sunny"></i>';
                else if(obj.sunset == false) sunset = '<i class="wi wi-night-clear"></i>';
                else {
                  const cdset = new Date(obj.sunset*1000);
                  sunset = cdset.toLocaleTimeString([], { timeZone: timezone#id#, hour: "2-digit", minute: "2-digit", hour12: false });
                }
              }
              cmd.querySelector('.sunRiseSet').innerHTML = sunrise +' - ' +sunset;

              if('#displayHumidity#' != '0')
                cmd.querySelector('.humidity').innerHTML = '<i class="wi wi-humidity" title="Humidité"></i> ' +obj.humidity +"%";
              if('#displayPressure#' != '0')
                cmd.querySelector('.pressure').innerHTML = '<i class="wi wi-barometer" title="Pression atmosphérique"></i> ' +obj.sea_level +"hPa";

              if('#displayWind#' != '0') {
                let vent = Math.round(obj.wind.speed*3.6) +'km/h';
                let raf = obj.wind.gust;
                let gust = '';
                if(raf>0) gust += ' <span style="background: #ed1c24;color: #ffffff!important" title="Rafales">&nbsp;' +Math.round(raf*3.6) +'km/h&nbsp;</span>'; 
                let wind = '';
                if (obj.wind.icon == 'Variable')
                  wind = '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve" width="15px" height="15px"><g><path fill="#3C73A5" d="M32.3,13.1c1.1,0.7,2.1,1.5,2.9,2.4c5.6,5.6,5.6,14.7,0,20.4c-5.5,5.6-14.5,5.6-20,0.1l-0.1-0.1 c-5.5-5.7-5.5-14.8,0.1-20.4l3.7,6.9l2.1-15.2L4.1,10.8l8,2c-7.2,7.2-7.2,18.8,0,26.1c7.1,7.2,18.5,7.3,25.7,0.3 c0.1-0.1,0.3-0.3,0.3-0.3c7.2-7.3,7.2-18.9,0-26.3c-1.5-1.3-3.1-2.5-4.8-3.3L32.3,13.1z"/></g></svg>';
                else
                  wind = '<svg data-v-47880d39="" width="15px" height="15px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve" class="icon-wind-direction" style="transform: rotate(' +(obj.wind.direction+180) +'deg);"><g data-v-47880d39="" fill="#3C73A5"><path data-v-47880d39="" d="M510.5,749.6c-14.9-9.9-38.1-9.9-53.1,1.7l-262,207.3c-14.9,11.6-21.6,6.6-14.9-11.6L474,48.1c5-16.6,14.9-18.2,21.6,0l325,898.7c6.6,16.6-1.7,23.2-14.9,11.6L510.5,749.6z"></path><path data-v-47880d39="" d="M817.2,990c-8.3,0-16.6-3.3-26.5-9.9L497.2,769.5c-5-3.3-18.2-3.3-23.2,0L210.3,976.7c-19.9,16.6-41.5,14.9-51.4,0c-6.6-9.9-8.3-21.6-3.3-38.1L449.1,39.8C459,13.3,477.3,10,483.9,10c6.6,0,24.9,3.3,34.8,29.8l325,898.7c5,14.9,5,28.2-1.7,38.1C837.1,985,827.2,990,817.2,990z M485.6,716.4c14.9,0,28.2,5,39.8,11.6l255.4,182.4L485.6,92.9l-267,814.2l223.9-177.4C454.1,721.4,469,716.4,485.6,716.4z"></path></g></svg>';
                cmd.querySelector('.wind').innerHTML = '<i class="wi wi-strong-wind" title="Vent"></i> ' +vent +' ' +wind +' ' +gust;
                cmd.querySelector('.wind').setAttribute('title', obj.wind.icon);
              }

              let clouds = '';
              if('#displayClouds#' != '0') clouds = '<i class="wi wi-cloud" title="Nuages"></i> ' +obj.clouds +'% ';
                cmd.querySelector('.clouds').innerHTML = clouds;

              let rainTxt = '';
              if('#displayRain#' != '0') {
                let rain = obj.rain['1h'];
                if(rain) rainTxt += '<i class="wi wi-raindrop" title="Pluie"></i> ' +rain +'mm '
                let snow = 0;
                if(obj.snow != undefined) {
                  if(obj.snow['1h'] != undefined) snow = obj.snow['1h'];
                  if(obj.snow['3h'] != undefined) snow = obj.snow['3h'];
                }
                if(snow) rainTxt += '<i class="fas fa-snowflake" title="Neige"></i> ' +snow +'mm'
              }
              cmd.querySelector('.rain').innerHTML = rainTxt;
                  
              if('#displayCollectDate#' != '0') {
                if(obj.updated_on != undefined) {
                  let date = new Date(obj.updated_on * 1000);
                  let forecastDate = new Intl.DateTimeFormat([], { dateStyle: 'short',
                      timeStyle: 'long', timeZone: timezone#id#, }).format(date);
                  cmd.querySelector('.collectDate').innerHTML = "Prévisions du: " +forecastDate +'.';
                }
                else {
                  let collectDateTxt = new Date(_options.collectDate).toLocaleString([], {dateStyle: "full", timeStyle: "medium"});
                  let collectDate = collectDateTxt.charAt(0).toUpperCase() + collectDateTxt.slice(1); // ucfirst
                  cmd.querySelector('.collectDate').innerHTML = "Collecte: " +collectDate +'.';
                }
              }
              if('#displayError#' != '0')
                cmd.querySelector('.errorMessage').innerHTML = 'Informations créées à partir de données de Météo-France';
            }
          }
          if ('#backgroundColor#' != '#backgroundColor' +'#') {
            cmd.querySelector('.content').style.backgroundColor = '#backgroundColor#';
          }
          if ('#clockBackgroundColor#' != '#clockBackgroundColor'+'#') {
            cmd.querySelector('.hours#id#').style.backgroundColor = '#clockBackgroundColor#';
            cmd.querySelector('.minutes#id#').style.backgroundColor = '#clockBackgroundColor#';
          }
          if ('#clockFontColor#' != '#clockFontColor'+'#') {
            cmd.querySelector('.hours#id#').style.color = '#clockFontColor#';
            cmd.querySelector('.minutes#id#').style.color = '#clockFontColor#';
            cmd.querySelector('.seconds#id#').style.color = '#clockFontColor#';
            cmd.querySelector('.tick#id#').style.color = '#clockFontColor#';
          }
          if ('#weatherFontColor#' != '#weatherFontColor'+'#') {
            cmd.querySelector('.meteofranceLeft#id#').style.color = '#weatherFontColor#';
          }
          else {
            if ('#displayBackgroundImage#' != '0')
              cmd.querySelector('.meteofranceLeft#id#').style.color = 'white';
            else
              cmd.querySelector('.meteofranceLeft#id#').style.color = 'var(--link-color)';
          }

          if ('#clockSecondsFontSize#' != '#clockSecondsFontSize'+'#') {
            cmd.querySelector('.seconds#id#').style.fontSize = '#clockSecondsFontSize#';
            cmd.querySelector('.seconds#id#').style.maxWidth = '#clockSecondsFontSize#';
          }
          if ('#clockSecondsMarginTop#' != '#clockSecondsMarginTop'+'#')
            cmd.querySelector('.seconds#id#').style.marginTop = '#clockSecondsMarginTop#';
              
          if ('#clockMarginLeft#' != '#clockMarginLeft'+'#')
            cmd.querySelector('.hours#id#').style.marginLeft = '#clockMarginLeft#';

          if ('#clockBorder#' != '#clockBorder'+'#') {
            cmd.querySelector('.hours#id#').style.border= '#clockBorder#';
            cmd.querySelector('.minutes#id#').style.border= '#clockBorder#';
          }
          if('#displayWidgetName#' != '0')
            cmd.querySelector('.widgetName#id#').style.display = 'block';
          else
            cmd.querySelector('.widgetName#id#').style.display = 'none';
          if('#displaySeconds#' != '0')
            cmd.querySelector('.seconds#id#').style.display = 'block';
          else
            cmd.querySelector('.seconds#id#').style.display = 'none';
          if ('#displayBackgroundImage#' != '0') {
            cmd.querySelector('#digital_container#id#').style.background = 'url(plugins/meteofrance/core/template/images/clockBackground.png) no-repeat';
          } else {
            if('#displayWeather#' == '0') cmd.querySelector('#weather#id#').style.height = '40px';
          }
          cmd.querySelector('.dateText#id#').innerHTML = dayTxt.charAt(0).toUpperCase() + dayTxt.slice(1); // ucfirst
        }
        catch(err) {
          if('#displayError#' != '0') {
            cmd.querySelector('.collectDate').innerHTML = '';
            cmd.querySelector('.errorMessage').innerHTML = '<strong>JSON data:' +_options.display_value.substr(0,30) +'...</strong><br>' +err.message;
          }
        }
      }
    });
    jeedom.cmd.refreshValue([{cmd_id:'#id#',display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#', alertLevel: '#alertLevel#', unit: '#unite#'}])
  </script>
</div>
